{erl_opts,
 [debug_info,
  warnings_as_errors,
  warn_missing_spec]}.

{deps,
 [{eredis, "~> 1.4"}]}.

{dialyzer,
 [{warnings,
   [unknown, unmatched_returns]},
  {plt_extra_apps,
   %% eredis mentions ssl:tls_client_option/0.
   [ssl, public_key]}]}.

{eunit_opts, [verbose]}.

{ct_readable, true}.
{ct_opts,
 [{sys_config, "config/ct.config"}]}.

{profiles,
 [{test,
   [{erl_opts,
     [nowarn_export_all,
      nowarn_missing_spec]}]}]}.

{shell,
 [{apps, [funbox]},
  {config, "config/shell.config"}]}.
